# General ignores
*.class
*.log
*.pyc
*.swp
.DS_Store

# Directories
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Ignore all build files and directories
build/
**/build/

# iOS related
ios/Pods/
ios/Pods/Pods.xcodeproj/
ios/Pods/Pods.xcodeproj/project.pbxproj
ios/Pods/Pods.xcodeproj/xcuserdata/
ios/Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/
ios/Runner.xcodeproj/
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/xcshareddata/xcschemes/
ios/.generated/
ios/Flutter/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Ignore pod fingerprints and other pod related files
**/Pods.build/
**/Pods.build/**/*.build/
**/Pods.build/**/*.build/*.dgph
**/Pods.build/**/*.build/*.dgph~
**/Pods.build/**/*.build/*.fingerprint

# Ignore .g.dart files
**/*.g.dart

# Exceptions to above rules
!ios/**/default.mode1v3
!ios/**/default.mode2v3
!ios/**/default.pbxuser
!ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages