<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565519577576-0s8fhiqhv8epncm31339pvtmaibqd8s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565519577576-0s8fhiqhv8epncm31339pvtmaibqd8s1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565519577576-n6g56hbkja561ltuc4168rv2j2vlqonv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWvRIUWLluw6vAIpFPUacKNPNbEve_PZk</string>
	<key>GCM_SENDER_ID</key>
	<string>565519577576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sayeer</string>
	<key>PROJECT_ID</key>
	<string>sayer-app-e9af3</string>
	<key>STORAGE_BUCKET</key>
	<string>sayer-app-e9af3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565519577576:ios:488653831c83615658345d</string>
</dict>
</plist>